#div-form{
    width: 500px;
    min-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: mediumseagreen;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#form{
    background-color: rgb(25, 111, 114);
    padding: 10px;
    color: rgb(119, 155, 47);
}

label{
    display: block;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.6em;
}

.input-vlr01{
    width: 400px;
}

.input-vlr01, .input-vlr02{
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.2em;
}

.input-vlr02{
    width: 250px;
}

input[type="radio"], input[type="checkbox"] {
    width: 25px;
    height: 18px;
    cursor: pointer;
}

textarea{
    width: 400px;
    height: 100px;
    padding: 20px;
    resize: none;
}

#div-brn{
    border: solid 5px rgb(3, 211, 97);
    margin: 20px 0px;
}

button{
    width: 140px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(68, 173, 68);
    border-radius: 20px;
}

input::placeholder{
    color: rgb(8, 112, 31);
    letter-spacing: 2px;
}

a:link{
    font-family: 'Courier New', Courier, monospace
    text-decoratin none;
    color: darkgreen;
    background-color: rgb(255, 252, 252);
}

a:visited{
    font-family: 'Courier New', Courier, monospace
    text-decoratin none;
    color: darkgreen;
    background-color: rgb(255, 255, 255);
}

a:hover{
    color: darkolivegreen;
    background-color: rgb(163, 214, 163);
    border-radius: 20px;
}